/* body */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* common designs */
.paragraph-size{
    font-size: 16px;
}
.header-one{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}
.header-two{
    font-size: 40px;
}
.header-three{
    font-size: 22px;
}

.button{
    text-decoration: none;
    color: white;
    padding: 15px 40px;
    background-color: #FF5959;
    border-radius: 8px;
    font-size: 16px;
}
.flex-class{
    display: flex;
    align-items: center;
    justify-content: center;
    
}



/* header-section */
.header-section{
    text-align: center;
    color: white;
    padding: 13% 0;
    background-image:
    linear-gradient(to bottom, rgb(255, 255, 255,.1), rgba(0, 0, 0, 1)),
    url('images/donation9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.header-section p{
    margin-bottom: 40px;
    
}

/* donate-today section */
.donate-today{
    text-align: center;
    padding: 8% 0;
}
.amount a{
    text-decoration: none;
    padding: 0 30px;
    font-size: 25px;
    color: #707070;
    font-weight: bold;
    margin: 30px 0;
}
.donate-today p{
    color:#707070 ;
}
#background-box{
    padding: 30px 20px;
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 3px;
    color: #FF5959;
}
.border-none{
    border: none;

}
#border-bottom{
    border-bottom: 2px solid #DADADA;
    color: #B3B3B3;
    padding: 15px 250px;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: center;
}


/* Donate Plan section  */
.donate-plan{
    text-align: center;
    margin-bottom: 170px;
}
.plans{
    margin: 40px 0;
    text-align: left;
}
.plans div{
    padding: 20px 30px;
    margin: 0 10px;
    width: 290px;
    height: 230px;
    
}
.plans img{
    width: 12%;
    
}
.donate-plan h5{
    margin: 20px 0;
    
} 
.donate-plan p{
    color:#707070 ;
}

#food-bg{
    background-color: rgba(79, 157, 166, 0.2);
  
}
#shelter-bg{

    background-color: rgba(255, 89, 89, 0.2);
    
}
#education-bg{
    background-color: rgba(255, 244, 214, 0.9);
    
}


